*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,body{
height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}

header{
    padding: 20px 2% 35px 2%;
    height: 120px;
}
header div.logo{
    float: left;
}

nav.mobile{
    display: none;
}
header nav.desktop{
    float: right;
    position: relative;
    top: 30px;
}
header nav.desktop ul{ 
    list-style-type: none;
}
header nav.desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}
header nav.desktop a{
    color: black;
    text-decoration: none;
}

.line-titulo{
    position: relative;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.ln1{
    position: absolute;
    height: 2px;
    background: black;
    width: 100%;
    top: 20px;
}

section.noticias-destaque{
    padding: 90px 2%;
}
section.noticias-destaque h2{
    text-align: center;
    position: relative;
    font-size: 27px;
    padding: 0 20px;
    font-style: italic;
    text-transform: uppercase;
    background: white;
    display: inline-block;

}
  a {
    text-decoration: none;
  }
  
  div, h2, p, figure {
    margin: 0;
    padding: 0;
  }
  
  .main {
    margin: 0 auto;
    max-width: 1040px;
    padding: 20px;
  }
  
  .columns {
    display: flex;
  }
  
  .column {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .main-column {
    flex: 2;
  }
  
  .article {
    background: white;
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
  }
  
  .article-image {
    background: #eee;
    display: block;
    padding-top: 75%;
    position: relative;
    width: 100%;
  }
  
  .article-image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .article-image.lado {
    padding-top: 70%;
  }
  
  .article-image.is-16by9 {
    padding-top: 56.25%;
  }
  
  .article-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
  }
  
  .article-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;
  }
  
  
  .article-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;
  }

  .container {
  width: 50%;
  margin: 0 auto;
}

.form-contact {
    margin-top: 20px;
  width: 100%;
  font-family: "Arial", Times, serif;
}

.form-contact-input {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}

.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}

.form-contact-button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #B22222;
  display: block;
  border: none;
  border-bottom: 1px solid #500707;
  border-right: 1px solid #500707;
  transition: 1s;
}

.form-contact-button:hover {
  opacity: 1;
}
@media screen and (max-width: 1400px){
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}
@media screen and (max-width: 1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vh;
        min-height: 500px;
    }
}
